<div class="container">
    <div class="col" style="text-align:center"><h1>{{titulo}}</h1></div>
    <form class="form-group row">
        <div class="form-group col-md-3">
            <label for="elemento1">Elemento1</label>
            <input type="text" name="elemento1" id="elemento1" placeholder="elemento1" class="form-control" [(ngModel)]="Entrada1">
        </div>
        <div class="form-group col-md-3">
            <label for="elemento2">Elemento2</label>
            <input type="text" name="elemento2" id="elemento2" placeholder="elemento2" class="form-control" [(ngModel)]="Entrada2">
        </div>
        <div class="form-group col-md-3">
            <label for="elemento3">Elemento3</label>
            <input type="text" name="elemento3" id="elemento3" placeholder="elemento3" class="form-control" [(ngModel)]="Entrada3">
        </div>
        <div class="form-group col-md-3">
            <label for="elemento4">Elemento4</label>
            <input type="text" name="elemento4" id="elemento4" placeholder="elemento4" class="form-control" [(ngModel)]="Entrada4">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="agregarElemento()" style="margin-top: 35px">Agregar</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="room">
        <div class="col">
            <div *ngFor="let datogral of datosgenerales, let i=index">
                {{i+1}}: {{datogral.elemento1}} {{datogral.elemento2}} {{datogral.elemento3}} {{datogral.elemento4}}
            </div>
        </div>
    </div>
</div>    